h1, h2, h3, h4, h5, h6, p, div, article, section, aside, ul, ol, li, header,
nav, main, footer {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, div, article, section, aside, table, thead, tbody,
th, tr, ul, ol, li {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, div, article, section, tr, a, li, 

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}
